@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

.main {
    color: #94B9AF;
}

.second {
    color: #EE964B;
}

.third{
    color: #AC92A6;
}

*{
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
    background-color: #2D2D2A;
}

#canvas {
    border: 2px solid black;
}